h1.hed {
    font-weight: bold;
    line-height: 50px;
    letter-spacing: -2px;
}

h2.subhed {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 28px;
}

p.article,
ul.article {
    font-size: 19px;
}

footer {
    font-size: 16px;
    font-style: italic;
    text-align: right;
}

svg {
    font: 12px sans-serif;
    /*display: block;
    margin: auto; */
}

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: .75;
}

path.chord {
    fill-opacity: .67;
    stroke: #000;
    stroke-width: .25px;
}

#circle:hover path.fade {
    display: none;
}

p.explainer {
    font-style: italic;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#top-bar-margin {
    margin-bottom: 20px;
}

img.nav-logo {
    height: 35px;
    margin: 10px 0px 0px 0px;
}

.top-bar {
    background-color: black !important;
}

li.name {
    background-color: black;
    list-style-type: none;
}

.social-icons {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    float: right;
    margin-right: 5px;
    margin-bottom: 14px;
    margin-top: 0px;
}

@media (max-width: 500px) {
    h1.hed {
        font-size: 40px;
        line-height: 42px;
    } 
}